<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="styles/reset.css" type="text/css" rel="stylesheet" />
    <link href="styles/index.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/98.css" />
  </head>
  <body>
    <%- include("titleBar", {title: "시험용 타이틀"}) %>
    <main>
      <%- include('sidebar') %>
      <article>
        <h2>Post Title</h2>
        <p>This is the content of the blog post.</p>
      </article>
    </main>
  </body>
</html>
