aside {
  width: 10%;
  background-color: #c8c4c4;
  padding: 0.5em;
}

.tree-view {
  height: 95vh;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}
